<form action='/pets/<%=@pet.id%>' method="post">
	<input type="hidden" name="_method" value="PATCH">
	<input type="text" name="pet_name" placeholder="Name Pet">
	<input type="submit" value="Edit Pet">
</form>